BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "led2" SITE "B5" ;
IOBUF PORT "led2" IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk_50mhz" SITE "C8" ;
IOBUF PORT "clk_50mhz" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "exp2_15" SITE "K13" ;
LOCATE COMP "exp2_16" SITE "K16" ;
LOCATE COMP "exp2_17" SITE "J15" ;
IOBUF PORT "exp2_15" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp2_16" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp2_17" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp2_9" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp2_10" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp2_11" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp2_12" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp2_13" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp2_14" IO_TYPE=LVCMOS33 ;
LOCATE COMP "exp2_13" SITE "K14" ;
LOCATE COMP "exp2_9" SITE "L14" ;
LOCATE COMP "exp2_10" SITE "L15" ;
LOCATE COMP "exp2_12" SITE "L16" ;
LOCATE COMP "exp2_11" SITE "L13" ;
LOCATE COMP "exp2_14" SITE "K15" ;
LOCATE COMP "led4" SITE "C14" ;
LOCATE COMP "led6" SITE "T13" ;
LOCATE COMP "led5" SITE "P16" ;
LOCATE COMP "led8" SITE "N16" ;
LOCATE COMP "led1" SITE "P4" ;
LOCATE COMP "led3" SITE "N3" ;
LOCATE COMP "led7" SITE "P12" ;
IOBUF PORT "led1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led7" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led8" IO_TYPE=LVCMOS33 ;
LOCATE COMP "exp1_10" SITE "C3" ;
LOCATE COMP "exp1_1" SITE "E2" ;
LOCATE COMP "exp1_3" SITE "F2" ;
LOCATE COMP "exp1_2" SITE "F1" ;
LOCATE COMP "exp1_4" SITE "G1" ;
LOCATE COMP "exp1_6" SITE "H2" ;
LOCATE COMP "exp1_7" SITE "J1" ;
LOCATE COMP "exp1_8" SITE "J2" ;
LOCATE COMP "exp2_5" SITE "A15" ;
LOCATE COMP "exp2_1" SITE "A13" ;
LOCATE COMP "exp2_7" SITE "D16" ;
LOCATE COMP "exp2_4" SITE "C15" ;
LOCATE COMP "exp2_6" SITE "C16" ;
LOCATE COMP "exp2_8" SITE "D14" ;
LOCATE COMP "exp2_2" SITE "B15" ;
LOCATE COMP "exp2_3" SITE "B16" ;
LOCATE COMP "exp1_13" SITE "D5" ;
LOCATE COMP "exp1_12" SITE "C5" ;
LOCATE COMP "exp1_16" SITE "B4" ;
LOCATE COMP "exp1_9" SITE "D4" ;
LOCATE COMP "exp1_11" SITE "C4" ;
LOCATE COMP "exp1_14" SITE "B3" ;
LOCATE COMP "exp1_15" SITE "A3" ;
LOCATE COMP "exp1_17" SITE "A4" ;
LOCATE COMP "exp1_5" SITE "G2" ;
IOBUF PORT "exp1_1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp1_2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp1_3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp1_4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp1_5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp1_6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp1_7" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp1_8" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp1_9" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp1_10" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp1_11" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp1_12" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp1_13" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp1_14" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp1_15" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp1_16" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp1_17" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp2_1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp2_2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp2_3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp2_4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp2_5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp2_6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp2_7" IO_TYPE=LVCMOS33 ;
IOBUF PORT "exp2_8" IO_TYPE=LVCMOS33 ;
LOCATE COMP "chain_in_out2" SITE "K1" ;
LOCATE COMP "chain_in_out1" SITE "K2" ;
LOCATE COMP "display12" SITE "C13" ;
LOCATE COMP "display13" SITE "D13" ;
LOCATE COMP "display11" SITE "B13" ;
LOCATE COMP "display9" SITE "B12" ;
LOCATE COMP "display10" SITE "A12" ;
LOCATE COMP "display8" SITE "D10" ;
LOCATE COMP "display7" SITE "C10" ;
LOCATE COMP "esp_en" SITE "B10" ;
LOCATE COMP "esp_gpio2" SITE "A9" ;
LOCATE COMP "chain_out_out1" SITE "P13" ;
LOCATE COMP "chain_out_out3" SITE "P14" ;
LOCATE COMP "chain_out_out2" SITE "N13" ;
LOCATE COMP "chain_out_in1" SITE "N14" ;
LOCATE COMP "chain_out_in2" SITE "R16" ;
LOCATE COMP "chain_in_in3" SITE "L1" ;
LOCATE COMP "chain_in_in1" SITE "M1" ;
LOCATE COMP "chain_in_in2" SITE "L2" ;
LOCATE COMP "pmod2_4" SITE "N4" ;
LOCATE COMP "pmod2_3" SITE "T2" ;
LOCATE COMP "pmod1_4" SITE "R4" ;
LOCATE COMP "pmod2_1" SITE "R3" ;
LOCATE COMP "pmod2_2" SITE "T3" ;
LOCATE COMP "pmod1_1" SITE "R5" ;
LOCATE COMP "esp_flash" SITE "A8" ;
LOCATE COMP "esp_rst" SITE "B7" ;
LOCATE COMP "esp_tx" SITE "A10" ;
LOCATE COMP "esp_rx" SITE "D7" ;
LOCATE COMP "display6" SITE "C7" ;
LOCATE COMP "display3" SITE "B6" ;
LOCATE COMP "display2" SITE "C6" ;
LOCATE COMP "display4" SITE "D6" ;
LOCATE COMP "display5" SITE "A6" ;
LOCATE COMP "display1" SITE "A5" ;
LOCATE COMP "pmod1_2" SITE "T6" ;
LOCATE COMP "pmod1_3" SITE "T4" ;
IOBUF PORT "chain_in_in1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "chain_in_in2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "chain_in_in3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "chain_in_out1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "chain_in_out2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "chain_out_in1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "chain_out_in2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "chain_out_out1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "chain_out_out2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "chain_out_out3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "display1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "display2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "display3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "display4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "display5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "display6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "display7" IO_TYPE=LVCMOS33 ;
IOBUF PORT "display8" IO_TYPE=LVCMOS33 ;
IOBUF PORT "display9" IO_TYPE=LVCMOS33 ;
IOBUF PORT "display10" IO_TYPE=LVCMOS33 ;
IOBUF PORT "display11" IO_TYPE=LVCMOS33 ;
IOBUF PORT "display12" IO_TYPE=LVCMOS33 ;
IOBUF PORT "display13" IO_TYPE=LVCMOS33 ;
IOBUF PORT "esp_en" IO_TYPE=LVCMOS33 ;
IOBUF PORT "esp_flash" IO_TYPE=LVCMOS33 ;
IOBUF PORT "esp_gpio2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "esp_rst" IO_TYPE=LVCMOS33 ;
IOBUF PORT "esp_rx" IO_TYPE=LVCMOS33 ;
IOBUF PORT "esp_tx" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pmod1_1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pmod1_2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pmod1_3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pmod1_4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pmod2_1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pmod2_2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pmod2_3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pmod2_4" IO_TYPE=LVCMOS33 ;
LOCATE COMP "step[3]" SITE "B1" ;
LOCATE COMP "step[1]" SITE "G3" ;
LOCATE COMP "step[4]" SITE "E13" ;
LOCATE COMP "step[6]" SITE "H14" ;
LOCATE COMP "step[5]" SITE "F14" ;
LOCATE COMP "step[2]" SITE "E1" ;
LOCATE COMP "uart3" SITE "C1" ;
LOCATE COMP "uart2" SITE "E3" ;
LOCATE COMP "uart4" SITE "F16" ;
LOCATE COMP "uart6" SITE "H13" ;
LOCATE COMP "uart1" SITE "G4" ;
LOCATE COMP "uart5" SITE "F13" ;
LOCATE COMP "dir3" SITE "C2" ;
LOCATE COMP "diag2" SITE "D1" ;
LOCATE COMP "diag1" SITE "F4" ;
LOCATE COMP "dir1" SITE "H4" ;
LOCATE COMP "dir6" SITE "H15" ;
LOCATE COMP "diag6" SITE "J16" ;
LOCATE COMP "diag5" SITE "G14" ;
LOCATE COMP "dir4" SITE "E16" ;
LOCATE COMP "dir5" SITE "F15" ;
LOCATE COMP "diag4" SITE "E15" ;
LOCATE COMP "diag3" SITE "A2" ;
LOCATE COMP "dir2" SITE "E4" ;
LOCATE COMP "clk_48mhz" SITE "A7" ;
LOCATE COMP "drclk" SITE "J4" ;
LOCATE COMP "endstop5" SITE "M2" ;
LOCATE COMP "endstop6" SITE "N1" ;
LOCATE COMP "endstop7" SITE "P2" ;
LOCATE COMP "endstop2" SITE "P1" ;
LOCATE COMP "endstop1" SITE "M4" ;
LOCATE COMP "endstop3" SITE "R1" ;
LOCATE COMP "endstop8" SITE "R2" ;
LOCATE COMP "endstop4" SITE "P3" ;
LOCATE COMP "enn" SITE "K4" ;
LOCATE COMP "index2" SITE "D3" ;
LOCATE COMP "index3" SITE "B2" ;
LOCATE COMP "index6" SITE "J13" ;
LOCATE COMP "index5" SITE "G13" ;
LOCATE COMP "index4" SITE "E14" ;
LOCATE COMP "index1" SITE "F3" ;
LOCATE COMP "fpga5" SITE "L4" ;
LOCATE COMP "fpga4" SITE "L3" ;
LOCATE COMP "fpga6" SITE "M3" ;
LOCATE COMP "fpga1" SITE "J3" ;
LOCATE COMP "fpga3" SITE "K3" ;
LOCATE COMP "fpga2" SITE "H3" ;
LOCATE COMP "pwm10" SITE "N12" ;
LOCATE COMP "pwm9" SITE "R12" ;
LOCATE COMP "pwm5" SITE "T14" ;
LOCATE COMP "pwm12" SITE "R14" ;
LOCATE COMP "pwm11" SITE "R13" ;
LOCATE COMP "pwm7" SITE "T15" ;
LOCATE COMP "pwm6" SITE "R15" ;
LOCATE COMP "pwm2" SITE "M13" ;
LOCATE COMP "pwm4" SITE "M14" ;
LOCATE COMP "pwm8" SITE "P15" ;
LOCATE COMP "pwm3" SITE "M15" ;
LOCATE COMP "pwm1" SITE "M16" ;
LOCATE COMP "wdi" SITE "G15" ;
LOCATE COMP "wden" SITE "G16" ;
IOBUF PORT "clk_48mhz" IO_TYPE=LVCMOS33 ;
IOBUF PORT "diag1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "diag2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "diag3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "diag4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "diag5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "diag6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dir1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dir2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dir3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dir4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dir5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dir6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "drclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "endstop1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "endstop2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "endstop3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "endstop4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "endstop5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "endstop6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "endstop7" IO_TYPE=LVCMOS33 ;
IOBUF PORT "endstop8" IO_TYPE=LVCMOS33 ;
IOBUF PORT "enn" IO_TYPE=LVCMOS33 ;
IOBUF PORT "fpga1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "fpga2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "fpga3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "fpga4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "fpga5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "fpga6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "index1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "index2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "index3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "index4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "index5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "index6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm1" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "pwm2" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "pwm3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm7" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm8" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm9" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm10" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm11" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm12" IO_TYPE=LVCMOS33 ;
IOBUF PORT "step1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "step2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "step3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "step4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "step5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "step6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uart1" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "uart2" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "uart3" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "uart4" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "uart5" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "uart6" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "wden" IO_TYPE=LVCMOS33 ;
IOBUF PORT "wdi" IO_TYPE=LVCMOS33 ;
FREQUENCY NET "clk_50mhz" 50 MHz ;
